{% extends "base.njk" %}

{% block head %}
  <script>const workflowURL = '{{ workflowURL }}';</script>
  <script src="/scripts/dispatch.js" type="module" defer="defer"></script>
{% endblock %}}

{% block content %}
  <div class="column">

    <div class="banner column-item">🛎️</div>

    <div class="headline column-item">Dispatch succeeded.</div>

    <a href="javascript:window.location.replace(workflowURL)" class="subline column-item">&nbsp;</a>

    <dl class="text column-item">

      <dt>Owner</dt>
      <dd><pre>{{ owner }}</pre></dd>

      <dt>Repo</dt>
      <dd><pre>{{ repo }}</pre></dd>

      <dt>Ref</dt>
      <dd><pre>{{ ref }}</pre></dd>

      <dt>Workflow</dt>
      <dd><pre>{{ workflowFile }}</pre></dd>

      <dt>Inputs</dt>
      <dd><pre>{{ workflowInputs | dump(2) }}</pre></dd>

    </dl>

  </div>
{% endblock %}
