{% extends "base.njk" %}

{% block content %}

  <div class="column">

    <div class="banner column-item">{{ emoji }}</div>

    <div class="headline column-item">{{ statusCode }}</div>

    <div class="subline column-item">{{ statusText }}</div>

    {% if message and message != '' %}
      <pre class="text auto column-item">{{ message }}</pre>
    {% endif %}

  </div>
{% endblock %}
